$brandColor: #1C6274;
$brandYellow: #feffb4;
$brandYellowHover: #feff8f;
$darkBrandColor: #47676f;

.footer {
  .logo-container {
    margin-top: 10px;
    .footer-logo {
      height: 45px;
      margin-right: 10px;
    }
  }

  .license-text {
    text-align: left;
  }

}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}


.slogan {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}

.button-container {
  text-align: center;
  width: 215px;
  margin-top: 32px;

  button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $brandYellow;
    width: 100%;

    &:hover {
      background-color: $brandYellowHover;
    }

    a {
      color: #1C6274;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.bottom-section {
  background-color: $brandColor;
  padding: 40px;

  .button-before-text {
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
  }

  button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $brandYellow;
    &:hover {
      background-color: $brandYellowHover;
    }

    a {
      color: #1C6274;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

span.italic {
  font-style: italic;
}

@media (max-width: 840px) {

  .footer {
    .license-text {
      text-align: center;
    }
  }

  .button-container {
    margin: auto;
  }
  .browser-mockup {
    margin: auto;
    margin-bottom: 30px;
  }

  .hero-background ol {
    width: 160px;
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
  }
}
