.c-board
  //- div
    input([(ngModel)]="settings.zoom")
  input(type="file", (change)="previewFile($event)")
  //br
  //img([src]="imageSrc", alt="Image preview...")

  .c-board__workingSpace
    .c-board__areas
      area(*ngFor="let cmp of components", [areaData]="cmp", [isHovered]="cmp.equals(hoveredComponent)")
      area([areaData]="newArea", *ngIf="inAreaCreation()")
      img.c-board__surface(
        [src]="imageSrc",
        alt="Image preview...",
        (mousedown)="onMouseDown($event)",
        (mousemove)="onMouseMove($event)",
        (mouseup)="onMouseUp($event)"
      )
