@import '../../shared/scss/utils/colors';

.c-componentElement {
  display: flex;
  color: $text-color;
  padding: 2px 10px;

  &__folder {
    flex-grow: 1;
  }
  &__counter {
    md-icon {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  &--hover {
    background-color: rgba(0,255,255, 0.2);
  }

}
