ul
  li.root
    //-([ngClass]='{ root: folder.folderId === null || folder.folderId === undefined }')
    .c-flexContainer
      md-icon photo_library
      | {{ folder.name }}
    component-element(*ngFor='let f of folders | async', [folder]='f')

  li(*ngFor='let file of files | async')
    | {{ file.name }}
