@import '../../shared/scss/utils/colors';

:host {
  display: block;
}

.c-flexContainer {
  display: flex;
  align-content: center;
  color: $text-color;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;

  md-icon {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }

  .folderName {
    height: auto;
    line-height: 25px;
    cursor: pointer;
  }
}

ul, li {
  margin: 0 0 0 5px;
  padding: 0;
}

ul {
  margin: 0px 0px 0px 20px;
  list-style: none;
  line-height: 2em;

  component-element {
    margin-left: 5px;
  }

  li.closed, component-element.closed {
    overflow: hidden;
    height: 0;
  }

  li.selected > .c-flexContainer {
    font-weight: bolder;
    color: $primary;

    & > .folderName {
      border-bottom: 2px dashed $primary;
      line-height: 23px;
    }
  }

  &__counter {
    md-icon {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  li, component-element {
    font-size: 16px;
    position: relative;

    &:before {
      position: absolute;
      left: -15px;
      top: 0px;
      content: '';
      display: block;
      border-left: 1px solid $text-color;
      height: 1em;
      border-bottom: 1px solid $text-color;
      width: 10px;
    }
    &:after {
      position: absolute;
      left: -15px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid $text-color;
      height: 100%;
    }
    &.folder {
      margin: 0px 0px 0px -20px;
    }

    &.root {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }
  li {
    &:last-child {
      &:after {
        display: none
      }
    }
  }
}
