.image-bar {
  display: flex;
  flex: 1;
  max-height: 130px;
  flex-wrap: nowrap;
  flex-direction: column;
  border-top: 1px solid dimgray;

  .box {
    margin-left: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .imageBox {
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: dimgray;
    font-size: 22px;
    line-height: normal;
    cursor: pointer;
    min-width: 190px;

    & .add {
      font-size: 92px;
      font-weight: normal;
      line-height: 70%;
    }

    &.placeholder {
      border: 2px dimgray dashed;

    }

    &:hover {
      background: rgba(192, 192, 192, 0.7);
      border-color: gray;
    }

  }

}
