.image-bar
  .box
    input#file.hiddenInput(type="file", (change)="loadFile($event)")
    label.imageBox.placeholder(#dropZone,
        [class.hover]='hover',
        (drop)='onDrop($event)',
        (dragover)='onDragOver($event)',
        (dragenter)='onDragEnter($event)',
        (dragleave)='onDragExit($event)',
        (dragexit)='onDragExit($event)',
        for='file'
      )
      .add +
      .text drag image here
    .imageBox(*ngFor='let image of images | async',
      [ngClass]='{currentImage: currentImage && currentImage.id == image.id }')
      sliced-image.thumbnail((click)='setBoardImage(image)', [image]='image')
      .text
        .name {{ image.name }}
        i.deleteIcon.material-icons((click)='deleteImage(image)') delete

