.image-bar
  .box
    .imageBox.placeholder(#dropZone,
        [class.hover]='hover',
        (drop)='onDrop($event)',
        (dragover)='onDragOver($event)',
        (dragenter)='onDragEnter($event)',
        (dragleave)='onDragExit($event)',
        (dragexit)='onDragExit($event)'
      )
      .add +
      .text drag image here
    .imageBox(*ngFor='let image of images')
      i.closeIcon.material-icons close
      .thumbnail([ngStyle]='{"background-image": "url(" + getImage(image) + ")"}', (click)='setBoardImage(image)')
      .text {{ image.name }}
