.image-bar {
  display: flex;
  border-top: 1px solid black;
  flex-grow: 1;
  position: relative;

  .box {
    margin: 0;
    display: flex;
  }

  .imageBox {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: dimgray;
    font-size: 16px;
    line-height: normal;
    cursor: pointer;
    width: 190px;
    position: relative;

    &.currentImage {
      background: rgba(255,255,255,0.3);
      box-shadow: 0 0 2px 0 black;
    }

    .closeIcon {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      font-size: 20px;

      &:hover {
        font-weight: bold;
      }
    }

    & .add {
      font-size: 92px;
      font-weight: normal;
      line-height: 70%;
    }

    &.placeholder {
      padding: 15px;
      border: 2px dimgray dashed;

      &.hover {
        color:magenta;
        border-color: magenta;
      }
    }

    &:hover {
      background: rgba(192, 192, 192, 0.7);
      border-color: gray;
    }

  }
  .thumbnail {
    flex-grow: 1;
    width: 100%;
    background-size: cover;
  }
  .hiddenInput {
    display: none;
  }
}

