.editor {
  display: flex;
  height: 100%;
  width: 100%;

  sidebar {
    display: flex;
    flex-basis: 300px;
  }

  board {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: auto;
  }
}