@import '../shared/scss/utils/colors';

:host, .editor {
  display: flex;
  flex: 1;
}

:host {
  flex-direction: column;
}

.editor {
  flex-direction: row;
}
sidebar {
  display: flex;
  min-width: 300px;
}

board {
  display: flex;
  flex-grow: 1;

  overflow: auto;
}

.c-header, .c-toolbar {
  padding: 0 25px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
}

.c-header {
  height: 60px;
  background: $primary;
}

.c-toolbar {
  height: 40px;
  background: lightgray;
  border-bottom: 1px solid gray;
}

.angular {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  img {
    margin-right: 10px;
  }
}

.right {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  height: 100%;
  align-items: center;
  md-icon {
    &.disabled {
      color: gray;
      cursor: default;
    }
    padding: 0 5px;
    margin: 0 10px;
  }
}

.separator {
  border-right: 1px solid dimgray;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0 10px;
}
