toolbar
  .c-header
    a.angular(href='./')
      img(src='{{ logo }}')
      | SLICE
    .reset((click)='reset()')
      i.fa.fa-trash
      | Reset project
    .export((click)='export()')
      i.fa.fa-floppy-o
      | Export project

  //-.c-toolbar
    .left
      .folderName {{ currentFolder.name }}
      md-icon.editFolderName mode_edit
    .h-fill-remaining.h-flex-end
    .right
      md-icon(
        [ngClass]='{ disabled: !currentFolder.id }',
        (click)='openConfirmDialog()'
      ) delete
      span.separator
      md-icon file_download
      md-icon send
      md-icon settings

.editor
  sidebar
  board
//footer
.loadingContainer([hidden]='!loading')
  .loading
    .content
      md-progress-circle(mode='indeterminate')
        | Loading, please wait!
