.mobile-screen
  h1 Angular Slice
  br
  p Sorry, we do not support mobile devices yet.
  p
  p
  p
  p
    strong Try with a bigger screen
  p OR
  p
    a(href='http://ngslice.io/app', target='_blank') subscribe and stay tuned.


.app-router
  router-outlet
