// Bootstrap specific
$font-size-root: 10px;
$font-family-base: 'Lato';
$font-size-base: 16px;
$line-height: 24px;
$body-bg: #fff;
$body-color: $tetriary;
$link-color: $secondary;
$link-decoration: none;
$link-hover-color: $highlight;
$link-hover-decoration: underline;
$abbr-border-color: #eee;
$enable-hover-media-query: false;
$table-bg: transparent;
$table-cell-padding: 0;
$text-muted: #eee;

// Custom
$page-wrapper-width: 800px;
$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
