@import '../utils/colors';

.dialogBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 49;
  animation: fadeIn 500ms forwards;
}

.dialog {
  width: 660px;
  position: fixed;
  top: 20%;
  left: calc(50% - 330px);
  padding: 20px;
  background-color: #fff;
  z-index: 50;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);

  animation: slideDown ease-out 500ms forwards;

  .flexContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    .row {
      display: flex;
      flex-direction: row;
      margin: 5px;
    }
    .addition {
      margin-top: 20px;
    }
    .md-button-wrapper {
      button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .row--rightAligned {
      justify-content: flex-end;

      .column {
        flex-grow: 0;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .column:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  md-radio-button, md-checkbox {
    margin: 5px 8px;
  }

  select {
    margin-left: 20px;
  }
}

.modal-sm .dialog {
  width: 260px;
  left: calc(50% - 130px);
}


@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: translate(0, 0);
  }
}
