.board
  //input(type="file", (change)="loadFile($event)")
  //.toolbar
  //  .title(*ngIf='!componentEdit', [ngClass]='{active: !currentArea}', (click)='setComponentEdit("component")') {{ currentFolder.name }}
  //  input.input.titleInput(*ngIf='!currentArea && componentEdit', [(ngModel)]='currentFolder.name', (blur)='saveComponentEdit("component")')
  //
  //  .childrenSymbol(*ngIf='currentArea') >
  //
  //  .areaTitle(*ngIf='currentArea && !areaEdit', (click)='setComponentEdit("area", true)') {{ currentAreaFolder.name }}
  //  input.input.areaTitleInput(*ngIf='currentArea && areaEdit', [(ngModel)]='currentAreaFolder.name', (blur)='saveComponentEdit("area")')

  .fileUploadPlaceholder(*ngIf='images.length <= 0')
    input#fileFull.hiddenInput(type="file", (change)="loadFile($event)")
    label.centerWrapper(#dropZone,
      [class.hover]='hover',
      (drop)='onDrop($event)',
      (dragover)='onDragOver($event)',
      (dragenter)='onDragEnter($event)',
      (dragleave)='onDragExit($event)',
      (dragexit)='onDragExit($event)',
      for='fileFull'
    )
      i.material-icons(style='font-size: 20vmin;') panorama
      p.noImage No image attached yet
      p.dragAndDrop Drag and drop Image file onto this window to upload
  .workingSpace(#workingSpace, *ngIf='images.length > 0')
    .imageContainer(
      *ngIf='currentImage',
      (mousedown)="onMouseDown($event, imageContainer, workingSpace)"
    )
      sliced-image([image]='currentImage', #imageContainer, [thumbnail]='false')
        area(*ngFor="let area of areas", [areaData]="area", [ngStyle]="areaStyle", click='setActiveArea(area)')
        area([areaData]="newArea", *ngIf="newArea", [ngStyle]="areaStyle")
  image-bar(*ngIf='images.length > 0')
