.c-board
  input(type="file", (change)="loadFile($event)")

  .c-board__workingSpace
    .c-board__imageContainer(
      [ngStyle]="imageContainerStyle",
      (mousedown)="onMouseDown($event)",
      (mousemove)="onMouseMove($event)",
      (mouseleave)="onMouseLeave($event)",
      (mouseup)="onMouseUp($event)"
    )
      area(*ngFor="let cmp of components", [areaData]="cmp", [isHovered]="cmp.equals(hoveredComponent)", [ngStyle]="areaStyle")
      area([areaData]="newArea", *ngIf="inAreaCreation()", [ngStyle]="areaStyle")
