.board
  input(type="file", (change)="loadFile($event)")

  .workingSpace
    .imageContainer(
      [ngStyle]="imageContainerStyle",
      (mousedown)="onMouseDown($event)",
      (mousemove)="onMouseMove($event)",
      (mouseleave)="onMouseLeave($event)",
      (mouseup)="onMouseUp($event)"
    )
      area(*ngFor="let area of areas", [areaData]="area", [ngStyle]="areaStyle")
      area([areaData]="newArea", *ngIf="newArea", [ngStyle]="areaStyle")
  image-bar