.board {
  overflow: auto;

  display: flex;
  flex-direction: column;
  background: #ddd;
  flex-grow: 1;

  .workingSpace {
    flex-grow: 1;
    overflow: auto;
  }

  image-bar {
    display: flex;
    min-height: 130px;
    overflow: auto;
  }

}
