div.c-view
  sidebar.c-view__sidebar([components]="components", [hoveredComponent]="hoveredComponent", (componentHover)="onComponentHover($event)")
  board.c-view__board([components]="components",
                      [hoveredComponent]="hoveredComponent",
                      (areaCreate)="onAreaCreate($event)",
                      (componentHover)="onComponentHover($event)")
