.sliced-image
  canvas.image(#canvas, [ngClass]='{thumbnail: thumbnail}',
  )
  //tooltip='Select the biggest components first', tooltipTimeout='1',
  //tooltipFollowCursor='true',
  //tooltipAppendToBody='true', tooltipPlacement='left',
  //tooltipEnable='{{ !thumbnail }}'
  ng-content
