.dialogBackground( (click)='close()' )
.dialog
  form()
    .flexContainer

      .row
        .column
          md-input([(ngModel)]='componentData.repoName', required, placeholder="Add name for the component")
          pre {{ componentData.repoName | json }}
      .row.row--rightAligned
        .md-button-wrapper
          button(md-raised-button, color="secondary", type="button", (click)='close()') Cancel
          button(md-raised-button, color="primary", type="button", (click)='send()') Push
