.tooltip {
  position: absolute;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 5px 0;
  color: white;
  z-index: 100;

  &::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
  }
}
